/* Main Colors */
$White       : hsl(0, 0%, 100%);
$Dark-blue   : hsl(218, 44%, 22%);
$Light-gray  : hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);

/* Other */
$borderRadiusImg: 14px;
$borderRadiusCard: 18px;